/*.celeb-pic {
	margin: 15px;
}

.celeb-photo{
	margin: 5px;
}*/
.tweet-active {
	background: green !important;
}

.time{
	float: right;
}

/*.trendsContent{
	margin: 10px;
}

span.text{
	overflow : hidden;
	width: 100%;
	word-wrap: break-word;
}*/
.hidden{
	display : none;
}
.loader{
	text-align : center;
}
