.tweet-active {
	background: green !important;
}

.time {
	float: right;
}
.hidden {
	display: none;
}
.loader {
	text-align: center;
}

.image {
	margin-left: 60px;
}

h3.head, h4.head {
	margin-left: 60px;
}

h3.celeb, h4.celeb {
	margin-left: 100px;
}
.bio {
	margin-top: 10px;
}
.loader {
	margin-top: 30px;
}
.submit {
	float: right;
}
.profilePic {
	width: 75px;
	height: 80px;
	margin-top: 1px;
}
.detailPic {
	height: 70px;
}
.followers {
	margin-left: 200px;
	margin-top: -50px;
}
.following {
	margin-left: 400px;
	margin-top: -50px;
	
}
.bio {
	font-family: 'Roboto', sans-serif;
	font-weight: 400; 
	font-size: 15px;
	margin-left: 50px;
}
.tweet{
	font-family: 'Roboto', sans-serif;
	font-weight: 400; 
	font-size: 15px;
}
